# nvim
*.log
debug
.repro
data
lazy-lock.json

# Sensitive data
.local
.cache
node_modules
__pycache__

# OS
.DS_Store
Thumbs.db

# User-specific
*.swp
*.swo
*~
.vscode/
.idea/
